@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

.banner {
  background-image: url(./img/pexels-pixabay-265152.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 20%;
  padding-bottom: 20%;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.circle i {
  position: relative;
  top: 30px;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-md-start {
  float: left !important;
}

.product-img {
  border-radius: 10%;
  border: 2px solid black;
}

.team img {
  width: 250px;
  border: 10px solid #cccccc;
}
.circle-team {
  border-radius: 50% !important;
}
.team a:hover {
  color: #dc3545;
  transform: scale(1.1);
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}
.col {
  vertical-align: middle;
}
.col img {
  width: 150px;
}

.col img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
